---
layout: splash
author_profile: false
title: 一个人的村庄

excerpt:   我走的时候，我还不懂得怜惜曾经拥有的事物，我们随便把一堵院墙推倒，砍掉那些树，拆毁圈棚和炉灶，我们想它没用处了。我们搬去的地方会有许多新东西。一切都会再有的，随着日子一天天好转。

header:
  overlay_image: /assets/images/CiervaCove_ZH-CN10404920946_1920x1080.jpg
  overlay_filter: 0.1 # same as adding an opacity of 0.5 to a black background
  caption: "EVERYTHING WE HEAR IS AN OPINION, NOT A FACT. EVERYTHING WE SEE IS A PERSPECTIVE, NOT THE TRUTH. ---Marcus Aurelius"

feature_row:
  - image_path: /assets/images/CiervaCove_ZH-CN10404920946_1920x1080.jpg
    alt: "placeholder image 1"
    title: "PLACEHOLDER ONE"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "READ MORE"
    btn_class: "btn--inverse"
  - image_path: /assets/images/CiervaCove_ZH-CN10404920946_1920x1080.jpg
    alt: "placeholder image 2"
    title: "PLACEHOLDER TWO"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "READ MORE"
    btn_class: "btn--inverse"
  - image_path: /assets/images/CiervaCove_ZH-CN10404920946_1920x1080.jpg
    title: "PLACEHOLDER THREE"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/docs/resume/index.html"
    btn_label: "READ MORE"
    btn_class: "btn--inverse"
---

{% include feature_row %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
